.chapter_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}
.chapter_title_container > h3 {
  text-transform: capitalize;
  font-size: 1.75rem;
}
.chapter_title_container > * {
  text-align: center;
}

.chapter_content_container {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.75;
}
.chapter_content_container > p:not(:last-of-type) {
  margin-bottom: 0.75rem;
}
.chapter_content_container > ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 0.85rem;
}
.chapter_content_container > ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 0.85rem;
}
.chapter_content_container > ul ul,
.chapter_content_container > ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 0.85rem;
}
.chapter_content_container > ol ol,
.chapter_content_container > ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 0.85rem;
}
.chapter_content_container ul > li,
.chapter_content_container ol > li {
  list-style: inherit;
}

.chapter_nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.chapter_nav > a[disabled="true"] {
  cursor: not-allowed;
  opacity: 0.7;
}
.chapter_nav > a {
  padding: 0.5rem 1rem;
  background-color: var(--main-bg-color-dark);
  color: var(--main-txt-color-light);
  border-radius: 0.25rem;
  /* cursor: pointer; */
  font-size: 0.9rem;
}

.chapter_nav > a:hover:not(a[disabled="true"]) {
  transform: scale(1.05);
}

@media (max-width: 625px) {
  .content-container {
    padding: 0;
    padding-block: 1rem;
  }
  .chapter_nav {
    justify-content: space-between;
  }
}

@media (max-width: 350px) {
  .content-container {
    padding: 1rem 0;
  }
  .chapter_nav > a {
    width: 85px;
    padding: 0.25rem 2rem;
  }
  .chapter_nav > a > span {
    display: none;
  }
}
