/* dark mode */
header {
  border-bottom: 1px dotted var(--main-txt-color-light) !important;
  /* box-shadow: 0 0 5px 10px var(--main-txt-color-light); */
}
header,
footer,
main,
body,
.breadcrumbs > ul {
  background-color: var(--main-bg-color-dark) !important;
}

select,
span,
h1,
h2,
h3,
h4,
h5,
p,
a,
li,
i {
  color: var(--main-txt-color-light) !important;
}

.genre-container li > a {
  background-color: var(--main-bg-color-dark) !important;
}
.genre-container li > a:hover {
  text-decoration: underline;
}
.genre-container li:has(> a.active) {
  text-decoration: underline;
}
.darkmode_btn:hover > i,
.darkmode_btn:hover::after,
a:hover {
  color: white !important;
}

::placeholder,
input {
  background-color: var(--main-txt-color-dark) !important;
  color: var(--main-txt-color-light) !important;
}

button {
  background-color: var(--main-txt-color-dark) !important;
}

.title-container {
  border-color: var(--main-txt-color-light) !important;
}

.hlc_navigation_container > a.active {
  border-top: 1px dotted var(--main-txt-color-light);
  border-bottom: 1px dotted var(--main-txt-color-light);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-txt-color-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-color-dark);
}

.background_text {
  z-index: 1;
  color: transparent !important;
}

.profile_info {
  background-color: transparent !important;
  border-color: var(--main-txt-color-light);
}
.profile_img {
  border-color: var(--main-txt-color-light);
}
/* dark mode */
