:root {
  --darker-color: #161414;
  --primary-color: #212121;
  --secondary-color: #4d4c4c;

  --text-color: #c2c2c2;
}

.loader {
  --g: radial-gradient(
      farthest-side,
      #0000 calc(95% - 1px),
      white calc(100% - 1px) 98%,
      #0000 101%
    )
    no-repeat;
}

.global-loader {
  border: 4px solid #ffffff;
}

*:not(.global-loader, .label_title) {
  border-color: var(--text-color) !important;
  color: var(--text-color) !important;
  outline: none;
}

body {
  background-color: var(--primary-color);
}

header,
footer {
  background-color: var(--darker-color);
}
.breadcrumbs {
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
}
.toast {
  box-shadow: 0 0 1px 1px var(--secondary-color);
}
.login_register {
  border: 1px solid var(--primary-color);
}
.active {
  background-color: var(--primary-color);
}
.line {
  background-color: var(--text-color);
}
.completed_card {
  box-shadow: 0 0 3px 1px var(--primary-color);
}
.error_action_container a:hover,
.error_message_container {
  text-shadow: 0 0 3px var(--primary-color);
}
header h3 > img {
  border: 3px solid var(--secondary-color);
}
.home_content_row:not(:last-of-type),
.row {
  border-bottom: 1px dotted var(--primary-color);
}
.home_content_row > a:not(:last-of-type),
.row > *:not(:first-child, :last-child) {
  border-right: 1px dotted var(--primary-color);
}
.genre-right-content-container > h4 {
  border-bottom: 1px solid var(--primary-color);
}
.global-loader {
  border-right-color: var(--primary-color);
}
.action_holder {
  border: 2px solid var(--secondary-color);
}
.action-button-container button {
  border: 2px solid var(--primary-color);
}
.chapter_list_container,
.reading_history_container,
.continue_reading_container,
.latest_chapter_container {
  border-bottom: 1px dotted var(--primary-color);
  border-top: 1px dotted var(--primary-color);
}
.title-container {
  border-color: var(--text-color) !important;
}
.card_wrapper > .details > .continue_reading_btn:hover {
  box-shadow: inset 0 0 5px 1px var(--secondary-color);
}
.card_wrapper > .details > a {
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
input {
  background-color: var(--secondary-color);
  border: none;
}
button {
  background-color: var(--primary-color);
  border: none;
}
button.login_btn {
  background-color: var(--secondary-color);
}
div.login_register > a.active {
  background-color: var(--secondary-color);
  color: var(--text-color) !important;
}
.hlc_navigation_container > a.active {
  background-color: var(--darker-color);
}

.dialog-ovelay .dialog .dialog-msg {
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background: var(--text-color);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
}
