.genre-container > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  gap: 0.5rem;
  line-height: 2;
}

.genre-container a {
  padding: 0.5rem;
  text-transform: capitalize;
  font-size: 0.75rem;
  border-radius: 0.25rem;
}

#select-genre {
  cursor: pointer;
  padding: 0.35rem;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  border-radius: 0.25rem;
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
