.genre-container > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
  gap: 0.5rem;
  line-height: 2;
}

.genre-container a {
  padding: 0.5rem;
  text-transform: capitalize;
  color: var(--main-txt-color-dark);
  font-size: 0.75rem;
  background-color: var(--main-bg-color-gray);
  border-radius: 0.25rem;
}

.genre-container a.active,
.genre-container a:hover {
  background-color: var(--main-bg-color-dark);
  color: var(--main-txt-color-light);
}

#select-genre {
  cursor: pointer;
  padding: 0.35rem;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  border-radius: 0.25rem;
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
