:root {
  --primary-color: #aaa9a9;
  --secondary-color: #c2c2c2;

  --text-color: #212121;
}
* {
  outline: none;
}
body {
  background-color: var(--secondary-color);
}

header,
footer {
  background-color: var(--primary-color);
}
.breadcrumbs {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
}
.toast {
  box-shadow: 0 0 1px 1px var(--secondary-color);
}
.login_register {
  border: 1px solid var(--primary-color);
}
.active {
  background-color: var(--primary-color);
}
.line {
  background-color: var(--text-color);
}
.completed_card {
  box-shadow: 0 0 3px 1px var(--primary-color);
}
.error_action_container a:hover,
.error_message_container {
  text-shadow: 0 0 3px var(--primary-color);
}
header h3 > img {
  border: 3px solid var(--secondary-color);
}
.home_content_row:not(:last-of-type),
.row {
  border-bottom: 1px dotted var(--primary-color);
}
.home_content_row > a:not(:last-of-type),
.row > *:not(:first-child, :last-child) {
  border-right: 1px dotted var(--primary-color);
}
.row > i {
  color: var(--text-color);
}
.genre-right-content-container > h4 {
  border-bottom: 1px solid var(--primary-color);
}
.global-loader {
  border-right-color: var(--primary-color);
}
.action_holder {
  border: 2px solid var(--secondary-color);
}
.action-button-container button {
  border: 2px solid var(--primary-color);
}
.chapter_list_container,
.reading_history_container,
.continue_reading_container,
.latest_chapter_container {
  border-bottom: 1px dotted var(--primary-color);
  border-top: 1px dotted var(--primary-color);
}
.title-container {
  border-color: var(--text-color) !important;
}
.card_wrapper > .details > .continue_reading_btn:hover {
  box-shadow: inset 0 0 5px 1px var(--secondary-color);
}
.card_wrapper > .details > a {
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
input {
  background-color: var(--secondary-color);
  color: var(--text-color) !important;
  border: none;
}
button#novel_start_read,
button#add_to_favorite {
  color: var(--text-color);
}
button {
  background-color: var(--primary-color);
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
p {
  color: var(--text-color);
}

.reading_history_list > li > a {
  color: var(--secondary-color);
}

div.card_wrapper > div.details > *:not(button) {
  color: var(--secondary-color) !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background: var(--text-color);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
}
